<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product_analysis</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <form action="/product-analysis" method="post">
        <label for="product_name">PRODUCT:</label>
        <input type="text" name="product_name">
        <button type="submit">submit</button>
    </form>
   
</body>

</html>